footer {
    background-color: #141414;
    padding: 42px 0;
    ::selection{
        background-color: #808080;
        color: #141414;
    }
    .row{
        .logo{
            margin-bottom: 20px;
            @media (min-width:768px) {
                margin-bottom: 0;
            }
            span{
                color: #FFF;
                font-family: 'Helvetica';
                font-size: 32px;
                font-weight: 700;
            }
        }
        .row{
            .col-12{
                &:first-child{
                    margin-bottom: 20px;
                    .col{
                        margin-bottom: 20px;
                        @media (min-width:1200px) {
                            margin-bottom: 0;
                        }
                        ul{
                            li{
                                a{
                                    color: #808080;
                                    font-family: Netflix;
                                    font-size: 13px;
                                    font-weight: 400;
                                    &:hover{
                                        color: #cbcbcb;
                                    }
                                }
                                &:not(:last-child){
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
                &:last-child{
                    margin-top: 20px;
                    p{
                        color: #808080;
                        font-family: 'Netflix Sans Light';
                        font-size: 11px;
                        font-weight: 300;
                    }
                }
            }
            .row{
                flex-direction: column;
                @media (min-width:375px) {
                    flex-direction: row;
                }
                .col{
                    &:last-child{
                        .socials{
                            display: flex;
                            align-items: center;
                            margin-top: 20px;
                            @media (min-width:375px) {
                                margin-top: 0;
                                margin-left: auto;
                            }
                            a{
                                display: inline-block;
                                &:not(:last-child){
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}